*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	height: 300px;
	width: 350px;
	font-family: monospace, sans-serif;
	font-size: 1rem;
	border: 2px solid #fff;
	background: url('https://cdn.pixabay.com/photo/2018/11/20/13/36/composing-3827454__340.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.outer-container{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.3);
	padding: .5rem;
	overflow-y: auto;
}

/* header */
.header{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 1.5rem;
	color: #fff;
}
.header h1{
	font-size: 1.1rem;
}
.header span{
	font-style: italic;
	margin-left: 1rem;
}
.select-board-text{
	color: #fff;
	font-size: 1rem;
	margin-left: 2rem;
}

/* board container */
.board-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 1.25rem;
}
.ind-board{
	margin: .5rem .75rem;
}
img{
	width: 100px;
	height: 100px;
	box-shadow: 5px 5px #dcdcdc;
	transition: .3s;
	cursor: pointer;
}
img:hover, .active img{
	box-shadow: 5px 5px rgb(127,255,212);
}
.board-title{
	color: #fff;
	font-size: .9rem;
	margin-top: .25rem;
}
.active p{
	color: rgb(127,255,212);
}

/* footer */
.footer{
	margin: .5rem 0;
	color: #fff;
}
.footer p{
	text-align: center;
}
.footer span{
	font-style: italic;
	font-size: .9rem;
	text-decoration: underline;
	cursor: pointer;
}
.footer a{
	color: cyan;
	font-style: italic;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #DCDCDC;
}
::-webkit-scrollbar-thumb {
  background: #A9A9A9;
}
::-webkit-scrollbar-thumb:hover {
  background: #C0C0C0;
}